body{
    margin: 0;
}

.container {
    width: 1400px;
    height: 5100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #475a85;

}
.nav_bar {
    display: flex;
    width: 1400px;
    height: 84px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

.text_box_menu {
    width: 1170px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    height: 42px;
    display: flex;
    font-size: 24px;
    font-family: "Cambria";
    font-family: sans-serif;
    align-items: center;
    letter-spacing: 1px;
}

.menu {
    width: 403px;
    height: 42px;
    font-size: 14px;
    font-family: "OpenSans", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}   

.slider{
    width: 1400px;
    height: 470px;
    background-color: #161828;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;


}
.slider:first-child {
    z-index: 1;

}
.img_slider_bg{
    width: 896px;
    height: 425px;
    z-index: 1;
}


.slider_title {
    width: 554px;
    height: 32px;
    color: white;
}

.slider_description {
    width: 385px;
    height: 21px;
    color: white;
}
.button {
    background-color: tomato;
    width: 145px;
    height: 55px;
    border-style: none;
    border-radius: 5%;
    color: white;
    font-size: 18px;
    font-family: "OpenSans", sans-serif;
    z-index: 10;
}

.white_box {
    width: 478px;
    height: 327px;
    background-color: white;
    border-radius: 5%;
    z-index: 3;
}

.services {
    width: 1400px;
    height: 553px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.serv_title {
    width: 1400px;
    height: 227px;
}

.serv_menu {
    width: 1400px;
    height: 326px;
}
.serv_title {
    width: 287px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.main p{
    font-size: 30px;
    font-family: "OpenSans", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0px;
}

.description p{
    font-size: 18px;
    font-family: "OpenSans", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

.serv_menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    width: 220px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box_title {
    font-size: 18px;
    font-family: "OpenSans", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
      
}

.box_description p{
    font-size: 14px;
    font-family: "OpenSans", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

button {
    border-radius: 2px;
    background-color: rgb(234, 91, 88);
    width: 88px;
    height: 33px;  
    z-index: 44;
    border-style: none;
    border-radius: 5%;
    color: white;
    font-family: "OpenSans", sans-serif;
    font-size: 18px;
    text-align: center;
}
button p{
    margin:0;
}
.work_intro {
    display: flex;
    width: 1400px;
    height: 425px;
    background-color: #7b7b7b;
    z-index: 1;
}

.work_intro_title p{
    display: flex;
    z-index: 2;
}

.work_intro_sub {
    display: flex;
    z-index:2;
}