body{
    margin: 0;
}

.container {
    width: 1400px;
    height: 5100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #475a85;

}
.nav_bar {
    display: flex;
    width: 1400px;
    height: 84px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

.text_box_menu {
    width: 1170px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    height: 42px;
    display: flex;
    font-size: 24px;
    font-family: "Cambria";
    font-family: sans-serif;
    align-items: center;
    letter-spacing: 1px;
}

.menu {
    width: 403px;
    height: 42px;
    font-size: 14px;
    font-family: "OpenSans", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}   

.slider{
    width: 1400px;
    height: 470px;
    background-color: #161828;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;

}

.img_slider img{
    width: 896px;
    height: 425px;
    display: flex;
    margin-left: -160px;
}

.slider_title {
    display: flex;
    width: 554px;
    height: 32px;
}

.services {
    width: 1400px;
    height: 553px;
    display: flex;
}

.serv_title {
    width: 1400px;
    height: 227px;
}

.serv_menu {
    width: 1400px;
    height: 326px;
}

