body {
    margin: 0;
}

.container {
    width: 1400px;
    height: 5100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #475a85;
}

.nav_bar {
    display: flex;
    width: 1400px;
    height: 84px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

.text_box_menu {
    width: 1170px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    height: 42px;
    display: flex;
    font-size: 24px;
    font-family: "Cambria";
    font-family: sans-serif;
    align-items: center;
    letter-spacing: 1px;
}

.menu {
    width: 403px;
    height: 42px;
    font-size: 14px;
    font-family: "OpenSans", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}   

.slider {
    width: 1400px;
    height: 470px;
    background-color: #161828;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img_slider_bg img {
    width: 896px;
    height: 425px;
    z-index: 1;
    margin-top: 20px;
    margin-left: 70px;
}

  
.slider_title {
    width: 554px;
    height: 32px;
    color: white;
    margin-top: 60px;
    margin-left: -1050px;
    font-size: 36px;
    font-family: "OpenSans", sans-serif;
    font-weight: bold;
    line-height: 0.667;
    z-index: 2;
}

.slider_description {
    width: 385px;
    height: 21px;
    color: white;
    font-size: 24px;
    font-family: "OpenSans", sans-serif;
    line-height: 1;
    margin-top: 35px;
    margin-left: -1050px;
    z-index: 2;
}

.button {
    background-color: tomato;
    width: 145px;
    height: 55px;
    border-style: none;
    border-radius: 5%;
    color: white;
    font-size: 18px;
    font-family: "OpenSans", sans-serif;
    z-index: 2;
    margin-top: 95px;
    margin-left: -1050px;
}

.white_box img {
    margin-left:-530px;
    z-index: 5;
}

.services {
    width: 1400px;
    height: 553px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.serv_title {
    width: 1400px;
    height: 227px;
}

.serv_menu {
    width: 1400px;
    height: 326px;
}

.serv_title {
    width: 287px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.main p {
    font-size: 30px;
    font-family: "OpenSans", sans-serif;
    color: white;
    font-weight: bold;
    margin: 0px;
}

.description p {
    font-size: 18px;
    font-family: "OpenSans", sans-serif;
    color: white;
    text-align: center;
}

.serv_menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    width: 220px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box_title {
    font-size: 18px;
    font-family: "OpenSans", sans-serif;
    color: white;
    font-weight: bold;
}

.box_description p {
    font-size: 14px;
    font-family: "OpenSans", sans-serif;
    color: white;
    text-align: center;
}

button {
    border-radius: 2px;
    background-color: rgb(234, 91, 88);
    width: 88px;
    height: 33px;  
    z-index: 44;
    border-style: none;
    border-radius: 5%;
    color: white;
    font-family: "OpenSans", sans-serif;
    font-size: 18px;
    text-align: center;
}

button p{
    margin: 0;
}

.work_intro {
    display: flex;
    align-items: center;
    width: 1400px;
    height: 425px;
    background-color: #7b7b7b;
    z-index: 1;
}

.work_intro_title p {
    display: flex;
    font-size: 48px;
    font-family: "OpenSans", sans-serif;
    color: white;
    font-weight: bold;
    line-height: 0.375;
    text-align: center;
    margin-left: -950px;
    z-index: 2;
}

.work_intro_sub {
    display: flex;
    font-size: 24px;
    font-family: "OpenSans", sans-serif;
    color: white;
    line-height: 0.75;
    text-align: center;
    margin-top: 100px;
    margin-left: -900px;
    z-index:2;
}

.portfolio {
    width: 1400px;
    height: 1180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.portfolio:hover {
    background-color: white;
}

.portfolio_title {
    font-family: "OpenSans", sans-serif;
    font-size: 30px;
    color: rgb(50, 50, 50);
    font-weight: bold;
    line-height: 0.6;
    text-align: center;
}

.portfolio_sub {
        font-size: 18px;
        line-height: 1;
        font-weight: 100;
}

.portfolio_nav {
    display: flex;
    font-family: "OpenSans", sans-serif;
    color: #a7a7a7;
    line-height: 1;
}

.intro_customer {
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    align-items: center;
}

.option {
    margin-right: 10px;
}

.option:hover {
    color: black
}

.picture_grid {
    width: 1170px;
    height: 620px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.pict_box {
    height: 290px;
    width: 368px;
    background-color: #7b7b7b;
}

.pict_box:hover {
    background-color: #475a85;
}

.portfolio_footer {
    font-size: 18px;
    font-family: "OpenSans", sans-serif;
    color: rgb(50, 50, 50);
    font-weight: bold;
    line-height: 1.333;
    text-align: center;
}
  
.customer {
    width: 1400px;
    height: 685px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}


.title {
    font-size: 30px;
    font-family: "OpenSans", sans-serif;
    color: rgb(50, 50, 50);
    font-weight: bold;
    line-height: 1;
}

.customer_opinion {
    display: flex;
    width: 1127px;
    height: 277px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.customer_sub {
        font-size: 18px;
        font-family: "OpenSans", sans-serif;
        color: rgb(50, 50, 50);
        line-height: 1.333;
}

.quote p {
    width: 728px;
    height: 79px;
        font-size: 18px;
        font-family: "OpenSans",sans-serif;
        color: rgb(50, 50, 50);
        line-height: 1.667;
}

.customer_name {
        font-size: 24px;
        font-family: "OpenSans", sans-serif;
        color: rgb(50, 50, 50);
        font-weight: bold;
        line-height: 1;
}

.dots{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 134px;
    height: 29px;
}

.dot {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #7b7b7b;
}

.dot:hover{
    background-color: #323232;
}

.touch {
    width: 1400px;
    height: 425px;
    background-color: #7b7b7b;
    display: flex;
}

.touch_bg img {
    z-index: 2;
}   

.touch_title {
    font-size: 48px;
    font-family: "OpenSans", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 0.375;
    text-align: center;
    z-index: 3;
    margin-top: 166px;
    margin-left: -950px;
}

.touch_sub {
    font-size: 24px;
    font-family: "OpenSans", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 0.75;
    text-align: center;
    z-index: 3;
    margin-top: 233px;
    margin-left: -320px;
}

.contact {
    width: 1400px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_title {
    font-size: 30px;
    font-family: "OpenSans", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin-bottom: -35px;
}

.contact_sub {
    font-size: 15px;
    font-family: "OpenSans", sans-serif;
    color: white;
    text-align: center;
    font-weight: 100;
}

.last_page {
    width: 1185px;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.address_box {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
}
.address_box p{
    font-size: 15px;
    font-family: "OpenSans", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.333;
    font-weight: 100;
    margin: 0;
}

.office_hours p{
    font-size: 18px;
    font-family: "OpenSans", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 2;
}
.office_days, .location, .phone, .email, .social_media_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.location img {
    width: 11px;
    height: 18px;
}
.phone img {
    width: 18px;
    height: 18px;
}

.address_box img {
    margin-right: 10px;
}

.address_txt {
    width: 452px;
    height: 197px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.social_media_logos {
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form_box {
    width: 570px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

input[type="text"] {
    width: 274px;
    height: 60px;
    background-color: white;
    border-style: none;
    border-radius: 2%;
}

textarea[id="message"] {
    width: 570px;
    height: 165px;
    background-color: white;
    border-style: none;
    border-radius: 1%;
    resize: none;
}

button[type="submit"] {
    width: 155px;
    height: 57px;
}

.footer {
    width: 1400px;
    height: 176px;
    background-color: #161828;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #696a73;
    font-family: sans-serif;
}

